{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>blog details</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img
                            class="img-fluid"
                            src="{% if blog_detail.image %}{{ blog_detail.image.url }}{% else %}{% static 'temp/no_photo.jpg' %}{% endif %}"
                            alt=""
                        />
                    </div>
                    <div class="blog_details">
                        <h2>
                            {{ blog_detail.blog_title }}
                        </h2>
                        <p class="excert">
                            {{ blog_detail.description }}
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            <span class="align-middle"
                                ><i class="fa fa-eye"></i
                            ></span>
                            {{ blog_detail.watched }}
                        </p>
                        <p class="like-info">
                            <span class="align-middle"
                                ><i class="fa fa-calendar"></i
                            ></span>
                            {{ blog_detail.update_at }}
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                    </div>
                </div>
            </div>
            {% include "includes/search.html" %}
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->
{% endblock content %}
