{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>blog</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    {% for blog in blogs %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <a href="{% url "blog:blog_detail" blog_pk=blog.id %}">
                                    <img
                                        class="card-img rounded-0"
                                        src="{% if blog.image %}{{ blog.image.url }}{% else %}{% static 'temp/no_photo.jpg' %}{% endif %}"
                                        alt="{{ blog.blog_title }}"
                                    />
                                </a>
                                <a href="{% url "blog:blog_detail" blog_pk=blog.id %}" class="blog_item_date">
                                    <h3>{{ blog.create_at|date:"j" }}</h3>
                                    <p>{{ blog.create_at|date:"b" }}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url "blog:blog_detail" blog_pk=blog.id %}">
                                    <h2>
                                        {{ blog.blog_title }}
                                    </h2>
                                </a>
                                <p>
                                    {{ blog.description|truncatewords:100}}
                                </p>
                                <p class="like-info">
                                    <span class="align-middle"
                                        ><i class="fa fa-eye"></i
                                    ></span>
                                    {{ blog.watched }}
                                </p>
                                <p class="like-info">
                                    <span class="align-middle"
                                        ><i class="fa fa-calendar"></i
                                    ></span>
                                    {{ blog.update_at }}
                                </p>
                            </div>
                        </article>
                    {% endfor %}

                    <!-- Пагинация -->
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                                        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                            <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    <!-- Пагинация -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Search Keyword"
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'"
                                    />
                                    <div class="input-group-append">
                                        <button class="btn" type="button">
                                            <i class="ti-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button
                                class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit"
                            >
                                Search
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock content %}
